import typing
from fastapi import Body, FastAPI
from commonfate_provider import loader, provider, args
from commonfate_provider.runtime import AWSLambdaRuntime
from commonfate_provider.runtime.aws_lambda import Event

from {{ .Name}}.providers import Provider, Args

testvault_provider = Provider(
        config_loader=provider.DictLoader(
            {
                "api_URL": "https://prod.testvault.granted.run",
                "unique_vault_id": "unique"
            }
        )
    )

runtime = AWSLambdaRuntime(testvault_provider, Args)

app = FastAPI()

@app.post("/handler")
async def handler(event: typing.Any = Body()):
    return runtime.handle(event, context=None)


