
from commonfate_provider import provider, args, resources

class Provider(provider.Provider):
    # Initialize fields that are provided by environment variables here. 
    # In this example, `unique_vault_id` is pass as env variable.
    unique_vault_id = provider.String(usage="the unique vault ID")

    def __init__(self, config_loader):
        super().__init__(config_loader)

"""

Any arguments that provider has are defined as resources. 
In this example, "Vault" is a resource that this provider defines.

"""
class Vault(resources.Resource):
    name: str = resources.Name()

"""

Create Args Class from the Resource Class.

"""
class Args(args.Args):
    vault = args.Resource(
        title="Vault",
        resource=Vault,
        description="The name of an example vault to grant access to (can be any string)"
    )

@provider.grant()
def grant(p: Provider, subject, args: Args) -> provider.GrantResult:
    print(
        f"granting access to {subject}, vault={args.vault}, url={p.api_URL.get()}"
    )

    ## Add your grant logic here


@provider.revoke()
def revoke(p: Provider, subject, args: Args):
    print(
        f"revoking access from {subject}, vault={args.vault}, url={p.api_URL.get()}"
    )

    ## Add your revoke logic here