
from commonfate_provider import provider, args, resources

class Provider(provider.Provider):
    api_URL = provider.String(usage="the test vault URL")
    unique_vault_id = provider.String(usage="the unique vault ID")

    def __init__(self, config_loader):
        super().__init__(config_loader)

class Args(args.Args):
    vault = args.Resource(
        title="Vault",
        resource=Vault,
        description="The name of an example vault to grant access to (can be any string)"
    )

@provider.grant()
def grant(p: Provider, subject, args: Args) -> provider.GrantResult:
    print(
        f"granting access to {subject}, vault={args.vault}, url={p.api_URL.get()}"
    )

    ## Add your grant logic here


@provider.revoke()
def revoke(p: Provider, subject, args: Args):
    print(
        f"revoking access from {subject}, vault={args.vault}, url={p.api_URL.get()}"
    )

    ## Add your revoke logic here